doctype html
html
  head
    title BodyPix Demo
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2')
    script(src='https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0')
  body
    block content
